@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Urbanist:wght@200;500&display=swap');
@import "compass/css3";

/* Variables */
#000: black;
rgb(229,229,229): white;
$color-3: rgb(168, 50, 121);

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(29,29,29);
}

body p {
  line-height: 1.75;
}

.full {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("img/background.jpg")
    center / cover;
  background-position: 75%;
}



.h1 {
  margin: 0;
  position: absolute;
  top: calc(50% - 0.5em);
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 8vw;
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0 0 1em rgba(0,0,0,0.5);
}

.scrolldown {
  display: inline-block;
  position: absolute;
  align-items: center;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  bottom: 0;
  z-index: 2;
  padding: 10px 10px 50px;
  overflow: hidden;
  color: #fff;
  font-size: 1.3vw;
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
  line-height: 1;
  letter-spacing: .2em;
  text-decoration: none;
}
.scrolldown::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 30px;
  background: #fff;
}

section {
  padding: 20vw 10vw;
  text-align: center;
  min-height: 100vh;
}

section h2 {
  font-size: 5vw;
  font-family: 'Josefin Sans', sans-serif;
}

.carrer-area{
  background-color: rgb(226,226,226);
}

.even-box{
  background-color: #fff;
}



/* Styling */
.timeline {
  list-style: none;
  margin: 4em auto;
  position: relative;
  max-width: 46em;
}

.timeline::before {
  background-color: rgb(29,29,29);
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}


.timeline-event {
  position: relative;
}

/*.timeline-event:hover {

  .timeline-event > .timeline-event-icon {

      background-color: rgb(229,229,229);
    }

    .timeline-event-thumbnail {
      @include box-shadow(inset 40em 0 0 0 $color-3);
    }
  }
}
*/

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  text-align: left;
}

.timeline-event-copy h3 {
  font-size: 1.75em;
}

.timeline-event-copy  h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}


.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}


.timeline-event-icon {
  background-color: #000;
  outline: 10px solid rgb(226,226,226);
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0.8em;
  left: -0.5em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  color: rgb(226,226,226);
  font-size: 0.75em;
  background-color: rgb(29,29,29);
  display: inline-block;
  margin-bottom: 0em;
  padding: 0.25em 1em 0.2em 1em;
}


footer{
  text-align: right;
  padding: 30px;
  background-color: rgb(226,226,226);

}
footer a{
  text-decoration: none;
  color: rgb(29,29,29);
}
footer a:hover{
  text-decoration: none;
  color: #fff;
}
